<template>
	<div class="wrapper">
      <SidebarLayout />
	    <div id="content" class="container">
        <div class="wrapper-flash"><flash-message></flash-message></div>
        <AdminUserList @editUser="openUserFormDialog" />

        <AdminUserForm :dialogUserFormVisible="dialogUserFormVisible" :userID="selectedUser" @closeUserFormDialog="closeUserFormDialog" />
	    </div><!-- .container -->
	</div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import AdminUserList from '../user/AdminUserList';
  import AdminUserForm from '../user/AdminUserForm';
  import SidebarLayout from '../common/SidebarLayout';

  export default {
      name: 'AdminUserLayout',
      props: [
        'useruuid'
      ],
      components: {
          AdminUserList,
          AdminUserForm,
          SidebarLayout
      },
      methods: {
        closeUserFormDialog () {
          this.selectedUser = ''
          this.dialogUserFormVisible = false
        },
        openUserFormDialog (userID) {
          this.selectedUser = userID
          this.dialogUserFormVisible = true
        }
      },
      data() {
        return {
          dialogUserFormVisible: false,
          selectedUser: ''
        }
      }
  };

</script>

<style scoped>

  .wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: stretch;
  }

  .wrapper-flash {
    position:fixed; 
    top: 10px; 
    right: 10px; 
    width: 350px;
    z-index:9999; 
    border-radius:50px 50px;
  }

  #content {
    width: 100%;
    padding-top: 15px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-bottom: 15px;
  }

</style>
