<template>
	<div class="wrapper">
      <SidebarLayout />
	    <div id="content" class="container">
        <div class="wrapper-flash"><flash-message></flash-message></div>
        <FeedList @loadFeedInForm="openFeedFormDialog" />
        
        <div class="col-12 text-center">
          <el-button type="text" @click="openFeedFormDialog('')"><i class="fas fa-plus"></i></el-button>
        </div>
        <FeedForm :dialogFeedFormVisible="dialogFeedFormVisible" :feedID="selectedFeed" @closeFeedFormDialog="closeFeedFormDialog" />

	    </div><!-- .container -->
	</div>
</template>

<script>
  import { mapGetters } from 'vuex';
  
  import FeedList from '../feed/FeedList';
  import FeedForm from '../feed/FeedForm';
  import SidebarLayout from '../common/SidebarLayout';

  export default {
      name: 'FeedLayout',
      props: [
        'feeduuid'
      ],
      components: {
          FeedList,
          FeedForm,
          SidebarLayout
      },
      computed: {
        ...mapGetters([
          'feedSelected',
        ]),
      },
      methods: {
        closeFeedFormDialog () {
          this.selectedFeed = ''
          this.dialogFeedFormVisible = false
        },
        openFeedFormDialog (feedID) {
          this.selectedFeed = feedID
          this.dialogFeedFormVisible = true
        }
      },
      data() {
        return {
          selectedFeed: '',
          dialogFeedFormVisible: false
        }
      }
  };

</script>

<style scoped>

  .wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: stretch;
  }

  .wrapper-flash {
    position:fixed; 
    top: 10px; 
    right: 10px; 
    width: 350px;
    z-index:9999; 
    border-radius:50px 50px;
  }

  #content {
    width: 100%;
    padding-top: 15px;
    min-height: 100vh;
    transition: all 0.3s;
  }

</style>
