<template>
  <div class="wrapper">
    <SidebarLayout />
    <div id="content" class="container">
      <el-header v-if="isAuthenticated"><UserConfBar /></el-header>
      <el-main class="content">
        <div class="wrapper-flash"><flash-message></flash-message></div>
        <ArticleList :feeds="feedSelection" />
      </el-main>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import ArticleList from '../article/ArticleList';
  import UserConfBar from '../user/UserConfBar';
  import SidebarLayout from '../common/SidebarLayout';

  export default {
      name: 'ReaderLayout',
      components: {
          ArticleList,
          UserConfBar,
          SidebarLayout
      },
		computed: {
            ...mapGetters([
              'isAuthenticated',
      				'feedSelection'])
		}
  };

</script>

<style scoped>

  .wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: stretch;
  }

  #el-header {
      width: 100%;
      align-items: stretch;
  }

  .wrapper-flash {
    position:fixed; 
    top: 10px; 
    right: 10px; 
    width: 350px;
    z-index:9999; 
    border-radius:50px 50px;
  }

  #content {
    width: 100%;
    padding-top: 15px;
    min-height: 100vh;
    transition: all 0.3s;
  }

</style>
