<template>
	<li>
		<div class="user-item d-flex justify-content-between">
			<div class="col-8 user-item-name" @click="editUser(localUser)">
				{{ localUser.name }}
			</div>
			<div class="col user-item-button text-right">
				<span :class="{'disabled-icon': !isAdmin}"><i class="fas fa-crown"></i></span>
				<span :class="{'disabled-icon': !isUser}"><i class="fas fa-user-check"></i></span>
				<span :class="{'disabled-icon': !isUnknown}"><i class="fas fa-user-secret"></i></span>
			</div>
			<div class="col user-item-button text-right">
				<span :class="{'disabled-icon': !isLocked}" @click="toggleLock(localUser)"><i class="fas fa-lock"></i></span>
			</div>
			<div class="col user-item-button text-right">
				<span @click="editUser(localUser)"><i class="fas fa-edit"></i></span>
			</div>
			<div class="col user-item-button text-right">
				<span @click="deleteUser(localUser)"><i class="fas fa-trash-alt"></i></span>
			</div>
		</div>
	</li>
</template>

<script>
	export default {
		name: 'AdminUserListItem',
		props: ['adminUserItem'],
		computed: {
			isAdmin() { return this.localUser.role.indexOf('ADMIN') > -1 },
			isUser() { return this.localUser.role.indexOf('USER') > -1 },
			isUnknown() { return this.localUser.role.indexOf('UNKNOWN') > -1 },
			isLocked() { return this.localUser.ts_lock !== '0001-01-01T00:00:00Z' },
		},
		methods: {
			editUser(user) {
				this.$emit('editUser', user.UUID);
			},
			toggleLock(adminUser) {
				var date = new Date(0);
				if (adminUser.ts_lock === '0001-01-01T00:00:00Z') {
					date = new Date();
				}

				adminUser.ts_lock = date.toISOString()

				this.$store.dispatch('updateUser', {userItem: adminUser, fields: ['ts_lock']}).then((response) => {
						this.localUser = response.data;
						this.flash('User updated!', 'success', {timeout: 2000})
					}).catch((err) => {
						this.flash('Error while locking the user: '+ err, 'error');
					}) ;
			},
			deleteUser(adminUser) {
				if (confirm('You are about to delete a user. Are you sure?')) {
					this.$store.dispatch('deleteUser', adminUser).then((response) => {
							this.flash('User deleted!', 'success', {timeout: 2000});
							this.$emit('removeUser', adminUser);
						}).catch((err) => {
							this.flash('Error while deleting the user: '+ err, 'error');
						}) ;
				}
			},
		},
		created() {
			this.localUser = this.adminUserItem;
		},
		data() {
			return {
				localUser: {},
			}
		},
	}
</script>

<style scoped>
	.user-item {
	    padding: 5px;
	    display: flex;
	}

	.user-item:hover {
	    color: #FF6F00;
	    background: #B3E5FC;
	    text-decoration: none;
	    cursor: pointer;
	}

	.user-item-name {
	    cursor: pointer;
	    font-size: 0.9em;
	}

	.user-item-selected {
	    color: #FF6F00;
	    background: #B3E5FC;
	    text-decoration: none;
	}

	.user-item-button {
	    font-size: 0.7em;
	}

	.user-item-button .disabled-icon {
	    color: #CCC;
	}

	.user-item-button a {
		color: #000;
	    text-decoration: none;		
	}

	.user-item-button a:hover {
	    color: #FF6F00;
	    text-decoration: none;		
	}

</style>