<template>
	<div>
		<div class="user-list-full">
			<h2 class="text-center">Users</h2>
			<ul class="list-unstyled components">
				<li v-for="adminUserItem in adminUserItems" :key="adminUserItem.UUID" class="user-item">
					<AdminUserListItem :adminUserItem="adminUserItem" @editUser="editUser" @removeUser="removeUser" />
				</li>
				<li v-if="nextPageToken">
					<div class="text-center pagination-next" @click="appendAdminUserItems">
						<i class="fas fa-chevron-circle-down"></i>
					</div>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	import axios from 'axios';
	import AdminUserListItem from './AdminUserListItem'

	export default {
		name: 'AdminUserList',
		beforeMount() {
			this.appendAdminUserItems();
		},
		components: {
			AdminUserListItem
		},
		methods: {
			appendAdminUserItems() {
				axios
					.get('/users?page_size=20&page_token='+this.nextPageToken)
					.then((response) => {
							this.adminUserItems.push.apply(this.adminUserItems, response.data.users);
							this.nextPageToken = response.data.next_page_token || '';
					})
					.catch((err) => {
						this.flash('Unable to get users: '+ err, 'alert');
					});
			},
			editUser: function(userID) {
				this.$emit('editUser', userID);
			},
			removeUser: function(adminUserItem) {
				const userIndexToRemove = this.adminUserItems.findIndex(
					user => user.name === adminUserItem.name
				);
				this.adminUserItems.splice(userIndexToRemove, 1);
			},
		},
		data() {
			return {
				adminUserItems: [],
				nextPageToken: '',
			}
		}
	}
</script>

<style scoped>
	.user-list-full {
		margin-top: 15px;
		margin-bottom: 25px;
		border-bottom: 1px solid #03A9F4;
	}

	.user-list-full h3 {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.user-list-full ul {
		margin-bottom: 0px;
	}

	.btn-paperkid-primary {
		color: #03A9F4;
		border-color: #03A9F4;
	}
	.btn-paperkid-primary:hover {
		color: #FFD740;
		background-color: #03A9F4;
		border-color: #03A9F4;
	}
	.btn-paperkid-primary:not(:disabled):not(.disabled):active {
		color: #FFD740;
		background-color: #03A9F4;
		border-color: #03A9F4;
	}

	.pagination-next {
		padding: 5px;
	}

	.pagination-next:hover {
	    color: #FF6F00;
	    background: #B3E5FC;
	    text-decoration: none;
	    cursor: pointer;
	}

</style>