<template>
    <el-dialog :visible.sync="isDialogUserFormVisible" @closed="closeDialog">
		<el-form label-position="right" :model="userItem" ref="userForm" @submit.native.prevent>
			<div class="row">
				<div class="col"></div>
				<div class="col-6 text-center">
					<h2>User</h2>
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col-8">
					<el-form-item label="Name" prop="name">
						<el-input v-model="userItem.name" disabled></el-input>
					</el-form-item>
					<el-form-item label="Login (email)" prop="email">
						<el-input v-model="userItem.email" disabled></el-input>
					</el-form-item>
					<el-form-item label="Display articles" prop="configuration.onlyUnread">
						<el-switch
							style="display: block"
							v-model="userItem.configuration.onlyUnread"
							active-text="Only unread"
							inactive-text="All">
						</el-switch>
					</el-form-item>
					<el-form-item label="Page size" prop="configuration.pageSize">
						<el-select v-model="userItem.configuration.pageSize">
							<el-option
								v-for="item in pageSizeOptions"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="Sidebar visibility" prop="configuration.sidebarVisible">
						<el-switch
							style="display: block"
							v-model="userItem.configuration.sidebarVisible"
							active-text="Big"
							inactive-text="Small">
						</el-switch>
					</el-form-item>
					<el-form-item label="Role" prop="role">
						<el-checkbox-group v-model="userItem.role">
							<el-checkbox label="UNKNOWN" name="role"></el-checkbox>
							<el-checkbox label="USER" name="role"></el-checkbox>
							<el-checkbox label="ADMIN" name="role"></el-checkbox>
						</el-checkbox-group>
					</el-form-item>
				</div>
				<div class="col"></div>
			</div>
			<div class="row form-buttons">
				<div class="col-6 text-left">
					<el-button type="info" @click="closeDialog"><i class="fas fa-hand-point-left"></i> Back</el-button>
				</div>
				<div class="col-6 text-right">
					<el-button v-if="saveStatus === 'SAVING'" type="primary" disabled>Saving...</el-button>
					<el-button v-if="saveStatus === 'SUCCESS'" type="success" @click="submitForm('userForm')">Saved!</el-button>
					<el-button v-if="saveStatus === 'ERROR'" type="danger" disabled>Save failed</el-button>
					<el-button v-if="saveStatus === 'READY'" type="primary" @click="submitForm('userForm')">Save</el-button>
				</div>
			</div>
		</el-form>
    </el-dialog>
</template>

<script>

	import axios from 'axios';
	import zxcvbn from 'zxcvbn';

	export default {
		name: 'AdminUserForm',
		props: [
            'dialogUserFormVisible',
			'userID',
		],
        computed: {
			isPasswordStrong() {
				let pse_result = zxcvbn(this.userItem.password);
				return pse_result.score >= 2;
			},
			isDialogUserFormVisible: {
				get: function () {
					return this.dialogUserFormVisible;
				},
				set: function (newValue) {
					this.closeDialog()
				}
			}
        },
		methods: {
            resetFormData() {
                this.userItem = {
					name: '',
					UUID: '',
					email: '',
					configuration: '',
					role: [],
					roleStr: '',
					ts_lock: ''
                }
				this.userErrors = {
					configuration: undefined,
					role: undefined,
					submit: undefined
				}
			},
			closeDialog() {
				this.resetFormData();
				this.$emit('closeUserFormDialog')
			},
			sanitizeAndValidateRole(input) {
				var self = this;
				var userRoles;
				switch (typeof input) {
					case "string":
						userRoles = input.split(",");
						break;
					case "object":
						userRoles = input;
						break;
					default:
						return false
				}

				userRoles.forEach(function(role) {
					if (self.$data.USER_ROLES.indexOf(role) > -1) {
						return false;
					}
				});

				self.$data.userItem.role = userRoles;
				return true;
			},
			validateForm(userItem) {
				const errors = {};
				if (!this.sanitizeAndValidateRole(userItem.role)) errors.role = "Unknown role";

				return errors;
			},
			submitForm(formName) {
				var self = this;

				this.saveStatus = 'SAVING';
				this.userErrors = this.validateForm(this.userItem);
				if (Object.keys(this.userErrors).length) {this.saveStatus = 'READY';return false;}

				this.$store.dispatch('updateUser', {userItem: this.userItem, fields: ['configuration', 'role']})
					.then(((message)=>{
						this.saveStatus = 'SUCCESS';
						this.flash('User updated!', 'success', {timeout: 2000});
						this.closeDialog();
					}))
					.catch((err)=>{
						this.saveStatus = 'ERROR';
						this.flash('Error while updating User'+ err, 'error', {timeout: 2000});
						this.saveStatus = 'READY';
						return false
					});
			},
		},
		watch: {
			userID: function(newVal, oldVal) {
				if (this.userID !== undefined && this.userID !== '') {
					axios
						.get('/users/'+this.userID)
						.then((response) => {
								this.userItem = response.data;
								this.userItem.configuration = JSON.parse(this.userItem.configuration)
								this.userItem.roleStr = this.userItem.role.join();
						})
						.catch((err) => {
							this.flash('Unable to get user: '+ err, 'alert');
						});
				}
			}
		},
		data() {
			return {
				userItem: {
					name: '',
					UUID: '',
					email: '',
					configuration: '',
					role: [],
					roleStr: '',
					ts_lock: ''
				},
				userErrors: {
					configuration: undefined,
					role: undefined,
					submit: undefined
				},
				userRules: {
					name: [
						{ required: true, message: 'Don\'t touch this', trigger: 'blur' }
					],
					email: [
						{ required: true, message: 'Email is mandatory', trigger: 'blur' }
					],
					configuration: [
						{ required: true, message: 'Configuration is needed', trigger: 'blur' }
					],
					role: [
						{ type: 'array', required: true, message: 'Select at least one role', trigger: 'blur' }
					]
				},
				saveStatus: 'READY',
				USER_ROLES: [
					"UNKNOWN",
					"ADMIN",
					"USER",
				],
				pageSizeOptions: [{
					value: 20,
					label: "20 articles / page"
				},{
					value: 42,
					label: "42 articles / page"
				},{
					value: 100,
					label: "100 articles / page"
				}]
			}
		}
	}
</script>

<style>

	.form-buttons {
		margin-top: 30px;
	}

</style>