<template>
	<div class="userconf">
		<div class="col"></div>
		<div class="form-group row col-3 ml-auto align-items-center">
			<el-switch
				style="display: block"
				v-model="onlyUnread"
				active-text="Only unread"
				inactive-text="All">
			</el-switch>
		</div>
		<div class="form-group row col-3 ml-auto">
			<el-select v-model="pageSize">
				<el-option
					v-for="item in pageSizeOptions"
					:key="item.value"
					:label="item.label"
					:value="item.value">
				</el-option>
			</el-select>
		</div>
	</div>
</template>

<script>

	import { mapGetters } from 'vuex';
	import { mapActions } from 'vuex';

	export default {
		name: 'UserConfBar',
		components: {},
		computed: {
			pageSize: {
				get: function() {
					return this.$store.getters.pageSize;
				},
				set: function(newValue) {
					this.$store.dispatch('updateUserConfPageSize', Number(newValue));
					this.$store.dispatch('getArticleItems');
				},
			},
			onlyUnread: {
				get: function() {
					return this.$store.getters.onlyUnread;
				},
				set: function() {
					this.$store.dispatch('toggleUserConfOnlyUnread');
					this.$store.dispatch('getArticleItems');
				},
			}
		},
		methods: {
			...mapActions([
				'toggleUserConfSidebar',
			]),
			...mapGetters([
				'feedSelection',
			]),
		},
		data() {
			return {
				pageSizeOptions: [{
					value: 20,
					label: "20 articles / page"
				},{
					value: 42,
					label: "42 articles / page"
				},{
					value: 100,
					label: "100 articles / page"
				},]
			}
		}
};

</script>

<style>
	.userconf {
	  display: flex;
	  padding-top: 10px;
	}
</style>