<template>
	<el-dialog :visible.sync="isDialogUserFormVisible" @closed="closeDialog">
		<el-form ref="userForm" :rules="userRules" :model="userItem" @submit.native.prevent>
			<div class="row">
				<div class="col"></div>
				<div class="col-10 text-center">
					<h2 v-if="isFormTypeSignup">Sign-up</h2>
					<h2 v-if="isFormTypeLogin">Login</h2>
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col-10">
					<el-form-item label="Login (email)" prop="login">
						<el-input placeholder="Login (email)" id="login" v-model="userItem.login"></el-input>
					</el-form-item>
					<el-form-item label="Password" prop="password">
						<el-input type="password" placeholder="Password" id="password" v-model="userItem.password"></el-input>
					</el-form-item>
				</div>
				<div class="col"></div>
			</div>
			<div class="row" v-if="signupErrorMessage">
				<div class="col"></div>
				<div class="col-10 text-left">
					<el-alert
						title="Signup error"
						type="error"
						:description="signupErrorMessage"
						show-icon>
					</el-alert>
				</div>
				<div class="col"></div>
			</div>
			<div class="row" v-if="loginErrorMessage">
				<div class="col"></div>
				<div class="col-10 text-left">
					<el-alert
						title="Signup error"
						type="error"
						:description="loginErrorMessage"
						show-icon>
					</el-alert>
				</div>
				<div class="col"></div>
			</div>
			<div class="row form-buttons">
				<div class="col-6 text-left">
					<el-button type="info" @click="closeDialog"><i class="fas fa-hand-point-left"></i> Back</el-button>
				</div>
				<div class="col-6 text-right">
					<el-button native-type="submit" v-if="saveStatus === 'SAVING'" type="primary" disabled>Saving...</el-button>
					<el-button native-type="submit" v-if="saveStatus === 'SUBMITTING'" type="primary" :loading="true" disabled>Submitting...</el-button>
					<el-button native-type="submit" v-if="saveStatus === 'SUCCESS'" type="success" @click="submitForm('userForm')">Saved!</el-button>
					<el-button native-type="submit" v-if="saveStatus === 'ERROR'" type="danger" disabled>Save failed</el-button>
					<el-button native-type="submit" v-if="saveStatus === 'READY'" type="primary" @click="submitForm('userForm')">Save</el-button>
				</div>
			</div>
		</el-form>
	</el-dialog>	
</template>

<script>

	import zxcvbn from 'zxcvbn';

	const isPasswordStrong = (rule, value, callback) => {
		if (value === '') {
			callback(new Error('You must submit a password'))
		}
		let pse_result = zxcvbn(value);
		if (pse_result.score < 2) {
			callback(new Error('Your password must be stronger'))
		} else {
			callback()
		};
	}

	export default {
		name: 'UserForm',
		props: [
			'dialogUserFormVisible',
			'userFormType'
		],
		methods: {
			resetDialog() {
				this.signupErrorMessage =''
				this.loginErrorMessage = ''
				this.userItem = { login: '', password: '' }
				this.saveStatus = 'READY'
				this.$refs['userForm'].resetFields()
			},
			closeDialog() {
				this.resetDialog();
				this.$emit('closeUserFormDialog')
			},
			submitForm(formName) {
				if (this.userFormType === 'signup') {
					this.saveStatus = 'SAVING'
				}
				if (this.userFormType === 'login') {
					this.saveStatus = 'SUBMITTING'
				}

				this.$refs[formName].validate((valid) => {
					if (valid) {
						if (this.userFormType === 'login') {
							if (this.submitLogin()) {
								this.closeDialog()
							}
						}
						if (this.userFormType === 'signup') {
							if (this.submitSignup()) {
								this.closeDialog()
							}
						}
						return false
					} else {
						return false
					}
				});
			},
			submitLogin() {
				var self = this;
				this.$store.dispatch('loginUser', this.userItem)
					.then((message)=>{
						this.saveStatus = 'SUCCESS';
						this.closeDialog();
					})
					.catch((err)=>{
						this.saveStatus = 'ERROR';
						self.$data.loginErrorMessage = 'Error while login: ';
						if (err.length>0) {
							err.forEach(function(errItem) {
								switch (errItem.field) {
									case 'credentials':
										if (errItem.message === 'FAILED') {
											self.$data.loginErrorMessage += 'wrong credentials';
										} else if (errItem.message === 'EXPIRED') {
											self.$data.loginErrorMessage += 'your credentials have expired, please reset them';
										}
										break;
									case 'account':
										if (errItem.message === 'LOCKED') {
											self.$data.loginErrorMessage += 'your account is locked, please contact us';
										}
										break;
								}
							})
						} else {
							self.$data.loginErrorMessage = 'Error while login: '+ err;
						}
						this.saveStatus = 'READY';
						return false
					});
			},
			submitSignup() {
				var self = this;
				this.$store.dispatch('createUser', this.userItem)
					.then((message)=>{
						this.saveStatus = 'SUCCESS';
						this.closeDialog();
					})
					.catch((err)=>{
						if (err.length>0) {
							err.forEach(function(errItem) {
								switch ( errItem.field ) {
									case 'username':
										if (errItem.message === 'FORMAT_INVALID') {
											self.$data.signupErrorMessage = "Sorry, your login should be a valid email.";
										} else if (errItem.message === 'TAKEN') {
											self.$data.signupErrorMessage = "Sorry, this login is not available.";
										} else if (errItem.message === 'MISSING') {
											self.$data.signupErrorMessage = "Sorry, the login is missing.";
										}
										break;
									case 'password':
										if (errItem.message === 'INSECURE') {
											self.$data.signupErrorMessage = "Sorry, your passowrd is too simple.\n(based on algorithm used, zxcvbn)";
										} else if (errItem.message === 'MISSING') {
											self.$data.signupErrorMessage = "Sorry, the password is missing.";
										}
										break;
								}
							})
						}
						this.saveStatus = 'READY';
						return false;
					})
			}
		},
		computed: {
			isFormTypeLogin() {
				return this.userFormType === 'login' ;
			},
			isFormTypeSignup() {
				return this.userFormType === 'signup' ;
			},
			isDialogUserFormVisible: {
				get: function () {
					return this.dialogUserFormVisible === true;
				},
				set: function (newValue) {
					this.closeDialog()
				}
			}
		},
		data() {
			return {
				userItem: {
					login: '',
					password: ''
				},
				userRules: {
					login: [
						{ required: true, message: 'You must submit a login', trigger: 'blur' }
					],
					password: [
						{ required: true, validator: isPasswordStrong, trigger: 'change' }
					]
				},
				signupErrorMessage: '',
				loginErrorMessage: '',
				saveStatus: 'READY'
			}
		}
	}
</script>

<style>

	.form-buttons {
		margin-top: 30px;
	}

</style>