<template>
	<el-dialog 
    title="About Paperkid"
    :visible.sync="isDialogAboutVisible"
    width="90%"
    @closed="closeDialog">
      <span>Paperkid is yet another feed aggregator. It collects the RSS feeds you follow in a single place, and allow you to read them when you want.</span>
  </el-dialog>
</template>

<script>

  export default {
      name: 'AboutDialog',
      props: [
			  'dialogAboutVisible',
      ],
      methods: {
        closeDialog() {
          this.$emit('closeAboutDialog')
        }
      },
      computed: {
        isDialogAboutVisible: {
          get: function () {
            return this.dialogAboutVisible === true;
          },
          set: function (newValue) {
            this.closeDialog()
          }
        }
      }
  };

</script>

<style scoped>

  .wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: stretch;
  }

  #el-header {
      width: 100%;
      align-items: stretch;
  }

  .wrapper-flash {
    position:fixed; 
    top: 10px; 
    right: 10px; 
    width: 350px;
    z-index:9999; 
    border-radius:50px 50px;
  }

  #content {
    width: 100%;
    padding-top: 15px;
    min-height: 100vh;
    transition: all 0.3s;
  }

</style>
