<template>
  <el-submenu index="3" v-if="isAuthenticated && hasRoleAdmin">
    <template slot="title">
      <i class="fas fa-wrench"></i>
      <span>Manage</span>
    </template>
    <el-menu-item index="3-1">
        <router-link :to="'/admin/users'">
          <i class="fas fa-users" alt="Users"></i>
          <span>Users</span>
        </router-link>
    </el-menu-item>
    <el-menu-item index="3-2">
        <router-link :to="'/admin/feeds'">
          <i class="fas fa-rss-square" alt="Feeds"></i>
          <span>Feeds</span>
        </router-link>
    </el-menu-item>
  </el-submenu>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
      name: 'AdminButtons',
      computed: {
        ...mapGetters([
          'hasRoleAdmin',
          'isAuthenticated'
        ]),
      },
      components: {},
      created() {}
  };
</script>

<style scoped>
</style>