<template>
    <el-menu class="el-menu-vertical" :collapse="!sidebarVisible"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <el-menu-item index="1-0" @click="cleanSelection()">
            <i class="far fa-newspaper"></i>
            <span>Paperkid</span>
        </el-menu-item>
        <el-menu-item index="1-1" @click="toggleSidebar">
            <i class="fas" :class="{'fa-angle-double-left': sidebarVisible, 'fa-angle-double-right': !sidebarVisible}"></i>
            <span>Toggle menu</span>
        </el-menu-item>
        <UserButtons />
        <AdminButtons />
        <FeedMenuList />
        <el-submenu index="99">
            <template slot="title">
                <i class="fas fa-copyright"></i>                
                <span>2018</span>
            </template>
            <el-menu-item index="99-1">
                <a href="https://gitlab.com/chilladx/paperkid" target="_blank">
                    <i class="fab fa-gitlab"></i>
                    <span>Fork me!</span>
                </a>
            </el-menu-item>
            <el-menu-item index="99-2" @click="openAboutDialog">
                <i class="far fa-newspaper"></i>
                <span>About</span>
            </el-menu-item>
            <AboutDialog :dialogAboutVisible="dialogAboutVisible" @closeAboutDialog="closeAboutDialog" />
        </el-submenu>
    </el-menu>
</template>
<script>
	import { mapGetters } from 'vuex';

	import FeedMenuList from '../feed/FeedMenuList';
	import UserButtons from './UserButtons';
    import AdminButtons from './AdminButtons';
    import AboutDialog from './AboutDialog';

	export default {
		name: 'SidebarLayout',
		components: {
			FeedMenuList,
			UserButtons,
            AdminButtons,
            AboutDialog
		},
		computed: {
            ...mapGetters(['sidebarVisible'])
        },
        methods: {
            closeAboutDialog () {
                this.dialogAboutVisible = false
            },
            openAboutDialog () {
                this.dialogAboutVisible = true
            },
            cleanSelection() {
                this.$store.dispatch('resetFeedSelection')
                this.$router.push({ path: '/' })
            },
            toggleSidebar() {
                this.$store.dispatch('toggleUserConfSidebar')
            }
        },
        data() {
            return {
                dialogAboutVisible: false,
            }
        }
	};
</script>
<style scoped>

  .el-menu-vertical:not(.el-menu--collapse) {
    width: 250px;
    max-width: 250px;
    min-height: 400px;
  }

</style>