<template>
  <el-submenu index="2">
    <template slot="title">
      <i class="fas fa-user"></i>
      <span>User</span>
    </template>
      <el-menu-item index="2-1" v-if="!isAuthenticated" @click="openUserFormDialog('login')">
        <i class="fas fa-sign-in-alt"></i>
        <span>Log in</span>
      </el-menu-item> 
      <el-menu-item index="2-2" v-if="isAuthenticated" @click="logoutUser()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Log out</span>
      </el-menu-item>
      <el-menu-item index="2-3" v-if="!isValidUser" @click="openUserFormDialog('signup')">
        <i class="fas fa-user-plus"></i>
        <span>Join</span>
      </el-menu-item>
    <UserForm :dialogUserFormVisible="dialogUserFormVisible" :userFormType="userFormType" @closeUserFormDialog="closeUserFormDialog" />
  </el-submenu>
</template>

<script>

  import { mapGetters } from 'vuex';
  import UserForm from '../user/UserForm';

  export default {
      name: 'UserButtons',
      computed: {
        ...mapGetters([
          'isValidUser',
          'isAuthenticated'
        ]),
      },
      components: {
        UserForm
      },
      methods: {
        closeUserFormDialog () {
          this.dialogUserFormVisible = false
        },
        openUserFormDialog (ufType) {
          this.userFormType = ufType
          this.dialogUserFormVisible = true
        },
        logoutUser () {
          this.$store.dispatch('logoutUser')
            .then((message)=>{
              this.flash('You have been successfully logged out. 👋', 'success', {timeout: 4000});
              this.$router.push({ path: '/' });
            })
            .catch((err)=>{
              this.flash('Unable to log you out!', 'error');
            });
        }
      },
      mounted() {
        this.$store.dispatch('loadUser');
      },
      data() {
        return {
          dialogUserFormVisible: false,
          userFormType: 'login'
        }
      }
  };

</script>

<style scoped>

  .sidebar-user {
    display: block;
  }

  .sidebar-user ul.components {
    border-top: 1px solid #FFE082;
  }

  .sidebar-user-icons {
    padding-top: 10px;
    font-size: 1.1em;
    color: #FFE082;
    width: 100%;
  }

  .sidebar-user-icon {
    color: #FFE082;
    font-size: 1.1em;
  }

  .sidebar-user-icon:hover {
    color: #FF6F00;
    text-decoration: none;
  }

  #content {
    width: 100%;
    padding-top: 15px;
    min-height: 100vh;
    transition: all 0.3s;
  }

</style>
