<template>
	<div class="article-item card">
		<div class="card-header collapsed" @click.self="openArticle" @dblclick.self="readArticle(articleItem)">
			<span class="article-item-title card-title">
				<a v-if="!articleItem.read && isAuthenticated" @click="readArticle(articleItem)"><i class="fas fa-envelope read-icon"></i></a>
				<i v-if="articleItem.read && isAuthenticated" class="fas fa-envelope-open read-icon"></i>
				<span @click.self="openArticle">{{ articleItem.title }}</span></span>
			<div class="card-button pull-right">
				<a :href="articleItem.URL" target="_blank"><i class="fas fa-external-link-alt"></i></a>
			</div>
		</div>
		<div class="card-block collapse" :id="articleItem.UUID" ref="articleBody" data-parent="#article-list">
			<span v-html="articleItemBody"></span>
		</div>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';
	import he from 'he';

	export default {
		name: 'ArticleListItem',
		props: ['articleItem'],
		computed: {
			...mapGetters(['onlyUnread', 'isAuthenticated']),
			articleItemBody() {
				return he.decode(this.articleItem.body);
			}
		},
		methods: {
			readArticle(articleItem) {
				if (this.isAuthenticated) {
					this.$store.dispatch('readArticle', articleItem);
					if (this.onlyUnread) {
						this.$emit('removeArticleItem', articleItem);
					} else {
						this.$emit('updateArticleItem', articleItem);
					}
				}
			},
			openArticle() {
				this.$refs.articleBody.classList.toggle('show');
			}
		}
	}
</script>

<style scoped>

	.card-header {
    	background: #9E9E9E;
    	color: #FAFAFA;
    	display:block;
    	padding: .5rem .75rem;
	}

	.card-header .card-button {
	    float: right;
	}

	.card-header .read-icon:hover {
	    color: #FF6F00;
	}

	.card-header .card-button a {
	    color: #FAFAFA;
	}

	.card-header .card-button a:hover {
	    color: #FF6F00;
	    text-decoration: none;
	}

	.read-icon {
		margin-right: 10px;
	}

	.card-block {
	    background: #E0E0E0 !important;
	    padding: 5px 5px 5px 5px;
	}

	.card-title span {
	    cursor: default;
	}

</style>