<template>
	<div id="article-list" class="accordion">
		<div v-for="articleItem in articleItems" :key="articleItem.UUID" class="article-item">
			<ArticleListItem :articleItem="articleItem" @removeArticleItem="removeArticleItem" @updateArticleItem="updateArticleItem" />
		</div>
		<div class="article-list-buttons text-right" v-if="nextPageToken">
			<button class="btn btn-outline-primary btn-paperkid-primary" @click="appendArticleItems(!isAuthenticated)"><i class="fas fa-chevron-circle-right"></i> Next articles</button>
		</div>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import { mapGetters } from 'vuex';
	import ArticleListItem from './ArticleListItem'

	export default {
		name: 'ArticleList',
		props: ['feeds'],
		computed: {
			...mapGetters([
				'articleItems',
				'nextPageToken',
				'isAuthenticated',
				'feedSelection'
			])
		},
		methods: {
			...mapActions(['appendArticleItems']),
			removeArticleItem: function(articleItem) {
				const articleIndexToRemove = this.articleItems.findIndex(
					article => article.name === articleItem.name
				);
				this.articleItems.splice(articleIndexToRemove, 1);
			},
			updateArticleItem: function(articleItem) {
				const articleIndexToUpdate = this.articleItems.findIndex(
					article => article.name === articleItem.name
				);
				this.articleItems[articleIndexToUpdate] = articleItem;
			}
		},
		created() {
			this.$store.dispatch('getArticleItems', !this.isAuthenticated);
		},
		components: {
			ArticleListItem
		},
		watch: {
			feeds: function () {
				this.$store.dispatch('getArticleItems', !this.isAuthenticated);
			}
		}
	}
</script>

<style>

	.btn-paperkid-primary {
		color: #03A9F4;
		border-color: #03A9F4;
	}
	.btn-paperkid-primary:hover {
		color: #FFD740;
		background-color: #03A9F4;
		border-color: #03A9F4;
	}
	.btn-paperkid-primary:not(:disabled):not(.disabled):active {
		color: #FFD740;
		background-color: #03A9F4;
		border-color: #03A9F4;
	}

	.article-list-buttons {
		margin-top: 12px;
	}

</style>