<template>
    <el-dialog :visible.sync="isDialogFeedFormVisible" @closed="closeDialog">
        <el-form label-position="right" :model="feedItem" :rules="feedRules" ref="feedForm" label-width="120px" @submit.native.prevent>
        <div class="row">
            <div class="col-10 text-center">
                <h2 v-if="feedItem.name">Update feed {{ feedItem.title }}</h2>
                <h2 v-if="!feedItem.name">Create feed</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
            <el-form-item label="Name" prop="name">
                <el-input placeholder="Name" v-model="feedItem.name" disabled></el-input>
            </el-form-item>
            </div>
            <div class="col-10">
            <el-form-item label="Slug" prop="slug">
                <el-input placeholder="Slug" v-model="feedItem.slug" disabled></el-input>
            </el-form-item>
            </div>
            <div class="col-10">
            <el-form-item label="Title" prop="title">
                <el-input placeholder="Title" v-model="feedItem.title"></el-input>
            </el-form-item>
            </div>
            <div class="col-10">
            <el-form-item label="URL" prop="URL">
                <el-input placeholder="URL" v-model="feedItem.URL"></el-input>
            </el-form-item>
            </div>
            <div class="col-10">
            <el-form-item label="Description" prop="description">
                <el-input placeholder="Description" v-model="feedItem.description" disabled></el-input>
            </el-form-item>
            </div>
            <div class="col-10">
                <el-form-item label="Public" prop="is_public">
                    <el-switch
                        style="display: block"
                        v-model="feedItem.is_public"
                        active-text="Public"
                        inactive-text="Restricted">
                    </el-switch>
                </el-form-item>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-left">
                <el-button type="info" @click="closeDialog"><i class="fas fa-hand-point-left"></i> Back</el-button>
            </div>
            <div class="col-6 text-right">
                <el-button native-type="submit" v-if="saveStatus === 'SAVING'" type="primary" disabled>Saving...</el-button>
                <el-button native-type="submit" v-if="saveStatus === 'SUCCESS'" @click="submitForm('feedForm')" type="success">Saved!</el-button>
                <el-button native-type="submit" v-if="saveStatus === 'ERROR'" type="danger" disabled>Save failed</el-button>
                <el-button native-type="submit" v-if="saveStatus === 'READY'" @click="submitForm('feedForm')" type="primary">Save</el-button>
            </div>
        </div>
        </el-form>
    </el-dialog>
</template>

<script>

    import axios from 'axios';

    export default {
        name: 'FeedForm',
        props: [
            'dialogFeedFormVisible',
            'feedID'
        ],
        computed: {
			isDialogFeedFormVisible: {
				get: function () {
					return this.dialogFeedFormVisible;
				},
				set: function (newValue) {
					this.closeDialog()
				}
			}
        },
        methods: {
            resetFormData() {
                this.feedItem = {
                    name: '',
                    slug: '',
                    title: '',
                    URL: '',
                    Description: '',
                    is_public: false,
                }
            },
			closeDialog() {
				this.resetFormData();
				this.$emit('closeFeedFormDialog')
			},
            submitForm(formName) {
                this.saveStatus = 'SAVING';

                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.feedItem.name) {
                            this.$store.dispatch('updateFeedItem', this.feedItem)
                                .then((()=>{
                                    this.saveStatus = 'SUCCESS';
                                    this.flash('Feed successfully updated', 'success', {timeout: 2000});
                                    this.closeDialog();
                                }))
                                .catch((err)=>{
                                    this.saveStatus = 'ERROR';
                                    return false;
                                });
                        } else {
                            this.$store.dispatch('createFeedItem', this.feedItem)
                                .then(((response)=>{
                                    this.saveStatus = 'SUCCESS';
                                    this.flash('Feed successfully created', 'success', {timeout: 2000});
                                    this.$store.dispatch('subscribeFeed', response.data);
                                    this.closeDialog();
                                }))
                                .catch((err)=>{
                                    this.flash('Can\'t create feed: '+ err, 'error', {timeout: 7000, pauseOnInteract: true});
                                    this.saveStatus = 'ERROR'
                                    return false;
                                });
                        }
                    } else {
                        this.saveStatus = 'READY';
                        return false
                    }
                });
            }
        },
        watch: {
            feedID: function (newVal, oldVal) {
                if (this.feedID !== undefined && this.feedID !== '' && this.feedID !== 'new' ) {
                    axios
                        .get('/feeds/'+this.feedID)
                        .then((response) => {
                            this.feedItem = response.data;
                        })
                        .catch((err) => {
                            this.flash('Unable to get feed: '+ err, 'alert');
                        });
                }
            }
        },
        data() {
            return {
                feedItem: {
                    name: '',
                    slug: '',
                    title: '',
                    URL: '',
                    Description: '',
                    is_public: false,
                },
                feedRules: {
                    title: [
                        { required: true, type: 'string', message: 'You must set a title', trigger: 'blur' }
                    ],
                    URL: [
                        { required: true, type: 'url', message: 'You must set a valid URL', trigger: 'blur' }
                    ]
                },
                saveStatus: 'READY'
            }
        }
    }

</script>

<style scoped>
</style>