<template>
	<div class="feed-list-full">
		<h2 class="text-center">Feeds</h2>
        <ul class="list-unstyled components">
        	<li v-for="feedItem in feedItems" :key="feedItem.UUID" class="feed-item">
        		<FeedListItem :feedItem="feedItem" @editFeedItem="editFeedItem" @removeFeedItem="removeFeedItem" />
        	</li>
	        <li v-if="nextPageToken">
	        	<div class="text-center pagination-next" @click="refreshList()">
					<i class="fas fa-chevron-circle-down"></i> Next feeds
				</div>
			</li>
        </ul>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';
	import FeedListItem from './FeedListItem'

	export default {
		name: 'FeedList',
		created() {
			this.refreshList();
		},
		components: {
			FeedListItem
		},
		computed: {
			...mapGetters([
				'hasRoleAdmin',
				'hasRoleUser'
				]),
		},
		methods: {
			refreshList: function() {
				this.$store.dispatch('getFeedItems', this.nextPageToken)
					.then((response)=>{
						this.feedItems = this.feedItems.concat(response.data.feeds)
						this.nextPageToken = response.data.next_page_token
					})
					.catch((error)=>{
						this.flash('Error while loading feeds: '+error, 'error', {timeout: 5000, pauseOnInteract: true})
					});
			},
			removeFeedItem: function(feedItem) {
				const feedIndexToRemove = this.feedItems.findIndex(
					feed => feed.name === feedItem.name
				);
				this.feedItems.splice(feedIndexToRemove, 1);
			},
			editFeedItem: function(feedUUID) {
				this.$emit('loadFeedInForm', feedUUID);
			}
		},
		data() { return {
			feedItems: [],
			nextPageToken: undefined,
		}}
	}
</script>

<style scoped>
	.feed-list-full {
		margin-top: 15px;
	    border-bottom: 1px solid #03A9F4;
	}

	.feed-list-full h3 {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.feed-list-full ul {
		margin-bottom: 0px;
	}

	.pagination-next {
		padding: 5px;
	}

	.pagination-next:hover {
	    color: #FF6F00;
	    background: #B3E5FC;
	    text-decoration: none;
	    cursor: pointer;
	}

</style>