<template>
  <el-submenu index="4">
    <template slot="title">
      <i class="fas fa-rss-square"></i>
      <span>Feeds</span>
    </template>
	<el-menu-item
		v-for="(feedItem, feedIndex) in feedItems"
		:key="feedItem.UUID"
		v-if="feedItems.length > 0"
		:index="getIndex(feedIndex)"
		@click="toggleFeedSelectionAndUpdate(feedItem)">
		<FeedMenuListItem :feedItem="feedItem" />
	</el-menu-item>
	<el-menu-item-group v-if="nptFeedsMenu">
      <el-menu-item index="5-1">
		<i class="fas fa-chevron-circle-down" alt="More" @click="appendFeedItems(nptFeedsMenu)"></i>
		<span @click="appendFeedItems(nptFeedsMenu)">More</span>
      </el-menu-item>
	</el-menu-item-group>
	<el-menu-item-group v-if="isAuthenticated">
      <el-menu-item index="5-2">
          <router-link :to="'/feeds/'">
            <i class="fas fa-cog" alt="Subscriptions"></i>
            <span>Subscriptions</span>
          </router-link>
      </el-menu-item>
	</el-menu-item-group>
  </el-submenu>
</template>

<script>
	import { mapGetters } from 'vuex';
	import FeedMenuListItem from './FeedMenuListItem'

	export default {
		name: 'FeedMenuList',
		computed: {
			...mapGetters([
				'feedItems',
				'nptFeedsMenu',
				'isAuthenticated',
			])
		},
		methods: {
			appendFeedItems(token) {
				if (this.isAuthenticated) {
					this.$store.dispatch('getMyFeedItems', token);
				} else {
					this.$store.dispatch('getPublicFeedItems', token);
				}
			},
			getIndex (order) {
				return "4-" + order
			},
			toggleFeedSelectionAndUpdate(feedItem){
				this.$store.dispatch('toggleFeedSelection', feedItem);
			}
		},
		created() {
			this.$store.dispatch('resetFeedItem').then(() => {this.appendFeedItems('');});
		},
		watch: {
			isAuthenticated: function (oldVal, newVal) {
				this.$store.dispatch('resetFeedItem').then(() => {this.appendFeedItems('');});
			}
		},
		components: {
			FeedMenuListItem
		}
	}
</script>

<style>
	#feed-list ul.components {
	    border-bottom: 1px solid #FFE082;
	    border-top: 1px solid #FFE082;
	}

	#feed-list ul ul a {
	    font-size: 0.9em !important;
	    padding-left: 30px !important;
	}

	.feed-item-add {
	    display: flex;
		color: #FFE082;
		padding: 10px;
	}

	.feed-item-add:hover {
	    color: #FF6F00;
	    background: #B3E5FC;
	    text-decoration: none;
	}

	.pagination-next {
		padding: 5px;
	}

	.pagination-next:hover {
	    color: #FF6F00;
	    background: #B3E5FC;
	    text-decoration: none;
	    cursor: pointer;
	}

</style>