<template>
	<li>
		<div class="feed-item d-flex justify-content-between">
			<div class="feed-item-title">
				<i class="fas" :class="{'fa-lock-open': isPublic, 'fa-lock': !isPublic}"></i>
				{{ feedItem.title }}
			</div>
			<div class="feed-item-button">
				<span @click="editFeed(feedItem)" v-if="hasRoleAdmin">
					<i class="fas fa-edit"></i> edit
				</span>
				<span @click="subscribeFeed(feedItem)" v-if="!isSubscribedFeed(feedItem)">
          			<i class="fas fa-link"></i> subscribe
          		</span>
				<span @click="unsubscribeFeed(feedItem)" v-if="isSubscribedFeed(feedItem)">
          			<i class="fas fa-unlink"></i> unsubscribe
          		</span>
				<span v-if="hasRoleAdmin" @click="deleteFeed(feedItem)">
          			<i class="fas fa-trash-alt"></i> delete
          		</span>
			</div>
		</div>
	</li>
</template>

<script>
	import { mapGetters } from 'vuex';
	import { mapActions } from 'vuex';

	export default {
		name: 'FeedListItem',
		props: ['feedItem'],
		computed: {
			...mapGetters([
				'hasRoleAdmin',
				'hasRoleUser',
				'isSubscribedFeed',
				]),
			isPublic () {
				return ('is_public' in this.feedItem && this.feedItem.is_public === true )
			}
		},
		methods: {
			deleteFeed(feedItem){
				if(confirm("You are about to remove the Feed "+ feedItem.title +", with all its Articles.\nAre you sure?")) {
			    	this.$store.dispatch('deleteFeed', feedItem).then(()=> {
						this.flash('Feed successfully deleted', 'success', {timeout: 2000});
						this.$emit('removeFeedItem', feedItem);
			    	});
			    }
			},
			editFeed(feedItem){
				this.$emit('editFeedItem', feedItem.UUID);
			},
			subscribeFeed(feedItem){
				this.$store.dispatch('subscribeFeed', feedItem).then(() => {
					this.$store.dispatch('getFeedItems', '');
				})
			},
			unsubscribeFeed(feedItem){
				this.$store.dispatch('unsubscribeFeed', feedItem).then(() => {
					this.$store.dispatch('getFeedItems', '');
				})
			}
		},
	}
</script>

<style scoped>
	.feed-item {
	    padding: 5px;
	    font-size: 1.1em;
	    display: flex;
	}

	.feed-item:hover {
	    color: #FF6F00;
	    background: #B3E5FC;
	    text-decoration: none;
	    cursor: pointer;
	}

	.feed-item-title {
	    cursor: pointer;
	}

	.feed-item-button {
	    font-size: 0.7em;
	}

	.feed-item-button .feed-item-button-link {
		color: #000;
	    text-decoration: none;		
	}

	.feed-item:hover .feed-item-button-link {
	    color: #FF6F00;
	    text-decoration: none;		
	}

</style>