<template>
  <div id="app">
    <router-view></router-view>
  </div><!-- .app -->
</template>

<script>

  export default {
      name: 'App'
  };

</script>

<style>

  html,
  body {
      font-family: 'Barlow', sans-serif;
      background: #FAFAFA;
      height: 100%;
  }

  #app {
      display: flex;
      justify-content: left;
  }

</style>
