@import "https://fonts.googleapis.com/css?family=Barlow";

.next-button {
    margin-top: 15px;
    margin-bottom: : 15px;
}

#items-per-page {
    background: #3F51B5;
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #3F51B5;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 10px 0;
}

.top-line {
    margin-bottom: 15px;
}

.pref-button {
    margin-left: 5px;
}

.unread-toggle .toggle-on {
  background-color: #3F51B5;
  color: #fff;
}

.unread-toggle .toggle-off {
  background-color: #3F51B5;
  color: #fff;
}

.quick .toggle-group {
    transition: none;
    -webkit-transition: none;
}

.user-pref .btn {
    font-size: 0.9rem;
}